In [7]:
# Samuel Harris
# Imports
import pandas as pd

In [8]:
# Read in Data
df = pd.read_excel('em_dat_since1900.xlsx')
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1055280.0,2.842847,NaN,2004-10-18,2023-10-17
1,1900-0005-USA,Yes,tec-ind-fir-fir,Technological,Industrial accident,Fire (Industrial),Fire (Industrial),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.842847,NaN,2003-07-01,2023-09-25
2,1900-0006-JAM,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.842847,NaN,2003-07-01,2023-09-25
3,1900-0007-JAM,Yes,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Gastroenteritis,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.842847,NaN,2003-07-01,2023-09-25
4,1900-0008-JPN,Yes,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.842847,NaN,2003-07-01,2023-09-25

In [9]:
## See shape: 26,350 rows, 46 columns
print(df.shape)
df.tail()

(26350, 46)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
26345,2023-9234-ESP,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,ESP,...,NaN,NaN,300000.0,NaN,2400000.0,NaN,NaN,"[{""adm1_code"":2716,""adm1_name"":""AndalucÃ­a""},{""...",2023-04-19,2024-01-03
26346,2023-9494-IDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2023-000154,NaN,IDN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":73617,""adm1_name"":""Papua""}]",2023-08-02,2023-09-26
26347,2023-9589-URY,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2023-000010,NaN,URY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-05,2023-12-08
26348,2023-9651-BRA,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,BRA,...,NaN,NaN,NaN,NaN,2500000.0,NaN,NaN,NaN,2023-10-11,2024-01-26
26349,2023-9706-BOL,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2023-000191,NaN,BOL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-03,2023-12-21

In [10]:
# See NAs
nan_count = df.isna().sum()
print(nan_count)

DisNo.                                           0
Historic                                         0
Classification Key                               0
Disaster Group                                   0
Disaster Subgroup                                0
Disaster Type                                    0
Disaster Subtype                                 0
External IDs                                 23975
Event Name                                   18072
ISO                                              0
Country                                          0
Subregion                                        0
Region                                           0
Location                                      2422
Origin                                       21992
Associated Types                             22563
OFDA Response                                    0
Appeal                                           0
Declaration                                      0
AID Contribution ('000 US$)                  25562
Magnitude                                    21171
Magnitude Scale                               9869
Latitude                                     23562
Longitude                                    23562
River Basin                                  24973
Start Year                                       0
Start Month                                    505
Start Day                                     3982
End Year                                         0
End Month                                      809
End Day                                       3893
Total Deaths                                  5440
No. Injured                                  17817
No. Affected                                 15573
No. Homeless                                 23694
Total Affected                                8851
Reconstruction Costs ('000 US$)              26308
Reconstruction Costs, Adjusted ('000 US$)    26312
Insured Damage ('000 US$)                    25225
Insured Damage, Adjusted ('000 US$)          25236
Total Damage ('000 US$)                      20654
Total Damage, Adjusted ('000 US$)            20721
CPI                                            516
Admin Units                                  18001
Entry Date                                       0
Last Update                                      0
dtype: int64

In [5]:
# See Columns
df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [5]:
# See how many of each disaster type
df['Disaster Type'].value_counts()

Disaster Type
Flood                               5910
Storm                               4713
Road                                2875
Water                               1631
Earthquake                          1612
Epidemic                            1525
Air                                 1091
Mass movement (wet)                  821
Drought                              808
Fire (Miscellaneous)                 799
Explosion (Industrial)               783
Extreme temperature                  650
Rail                                 646
Wildfire                             470
Collapse (Miscellaneous)             305
Miscellaneous accident (General)     276
Volcanic activity                    274
Explosion (Miscellaneous)            221
Fire (Industrial)                    220
Collapse (Industrial)                184
Industrial accident (General)        126
Chemical spill                       108
Infestation                           95
Poisoning                             76
Gas leak                              62
Mass movement (dry)                   45
Radiation                              9
Oil spill                              8
Glacial lake outburst flood            4
Fog                                    1
Impact                                 1
Animal incident                        1
Name: count, dtype: int64

In [11]:
## Slice data so it only includes dates from 2000 onward and get rid of some columns
_d = df[df['Start Year'] >= 2000]
print(_d.shape)
g = ['DisNo.', 'Classification Key', 'Disaster Group',
    'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
    'Location', 'Magnitude','Magnitude Scale', 'Start Year', 'Start Month', "Total Damage, Adjusted ('000 US$)", 'Total Deaths' ]
_d = _d[g]

(15573, 46)

In [12]:
# check NAs for filtered data
nan_count = _d.isna().sum()
print(nan_count)

DisNo.                                   0
Classification Key                       0
Disaster Group                           0
Disaster Subgroup                        0
Disaster Type                            0
Disaster Subtype                         0
Event Name                           10666
ISO                                      0
Country                                  0
Subregion                                0
Region                                   0
Location                               628
Magnitude                            12217
Magnitude Scale                       5839
Start Year                               0
Start Month                             69
Total Damage, Adjusted ('000 US$)    12552
Total Deaths                          3078
dtype: int64

In [13]:
# check columns
print(_d.columns)
_d.shape

Index(['DisNo.', 'Classification Key', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Event Name', 'ISO', 'Country',
       'Subregion', 'Region', 'Location', 'Magnitude', 'Magnitude Scale',
       'Start Year', 'Start Month', 'Total Damage, Adjusted ('000 US$)',
       'Total Deaths'],
      dtype='object')

(15573, 18)

In [17]:
# value count for disaster type
_d['Disaster Type'].value_counts()

Disaster Type
Flood                               3998
Storm                               2523
Road                                2109
Water                               1102
Epidemic                             892
Earthquake                           658
Extreme temperature                  488
Explosion (Industrial)               454
Mass movement (wet)                  447
Air                                  429
Fire (Miscellaneous)                 411
Drought                              399
Wildfire                             298
Rail                                 247
Miscellaneous accident (General)     186
Collapse (Miscellaneous)             158
Explosion (Miscellaneous)            158
Collapse (Industrial)                146
Volcanic activity                    125
Fire (Industrial)                    111
Industrial accident (General)        102
Gas leak                              34
Infestation                           29
Chemical spill                        23
Poisoning                             20
Mass movement (dry)                   13
Oil spill                              5
Glacial lake outburst flood            4
Radiation                              2
Impact                                 1
Animal incident                        1
Name: count, dtype: int64

In [14]:
# NAs in the flood disaster type
_d[_d['Disaster Type']== 'Flood'].isna().sum()

DisNo.                                  0
Classification Key                      0
Disaster Group                          0
Disaster Subgroup                       0
Disaster Type                           0
Disaster Subtype                        0
Event Name                           3987
ISO                                     0
Country                                 0
Subregion                               0
Region                                  0
Location                               18
Magnitude                            2569
Magnitude Scale                         0
Start Year                              0
Start Month                             1
Total Damage, Adjusted ('000 US$)    2871
Total Deaths                         1091
dtype: int64

In [15]:
# Lack of data showing zero deaths. Look into metadata about this
_d[_d['Total Deaths']== 0].count()

DisNo.                               1
Classification Key                   1
Disaster Group                       1
Disaster Subgroup                    1
Disaster Type                        1
Disaster Subtype                     1
Event Name                           0
ISO                                  1
Country                              1
Subregion                            1
Region                               1
Location                             1
Magnitude                            0
Magnitude Scale                      1
Start Year                           1
Start Month                          1
Total Damage, Adjusted ('000 US$)    0
Total Deaths                         1
dtype: int64

In [16]:
# NAs for deaths by disaster type
print(_d[_d['Total Deaths'].isna()].groupby('Disaster Type').size())

Disaster Type
Chemical spill                        16
Collapse (Miscellaneous)               5
Drought                              374
Earthquake                           224
Epidemic                             136
Explosion (Industrial)                10
Explosion (Miscellaneous)             10
Extreme temperature                   90
Fire (Industrial)                      3
Fire (Miscellaneous)                  76
Flood                               1091
Gas leak                              12
Impact                                 1
Industrial accident (General)          8
Infestation                           29
Mass movement (wet)                   15
Miscellaneous accident (General)      30
Oil spill                              4
Poisoning                             11
Rail                                  29
Road                                   5
Storm                                645
Volcanic activity                    101
Water                                  5
Wildfire                             148
dtype: int64

In [65]:
# World Bank Data
# https://databank.worldbank.org/indicator/NY.GDP.PCAP.CD/1ff4a498/Popular-Indicators#
gdp = pd.read_csv('gdp_per_cap.csv', skiprows=[218, 219, 220, 221, 222])
gdp.head()

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,..,..,182.174036617438,199.643227895834,221.830530720307,254.115274305561,...,638.733184780223,626.512930450573,566.881132665072,523.053012101752,526.140801271383,492.090632280226,497.741429257502,512.055098228687,355.777826392648,..
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,1126.68334010717,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78781583529,...,4413.06338346821,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,1780.37606280604,1754.58236097572,1794.811114232,2117.04822899287,2624.79523151946,3131.32818989681,...,5519.77757552373,5516.22944039649,4197.41998491398,3967.20064743809,4134.93608656171,4171.79038755546,4021.9832660524,3354.15316371593,3700.31469728198,4342.63796796522
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,..,..,8800.72881035461,9043.68236654528,8832.81851941832,8733.01428721137,...,12038.8715916596,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15609.7772196843,16653.7137781725,19673.3901023197
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,21620.4651019373,22809.0877599631,24784.9560887634,31954.1617868177,37630.7642639554,39583.9311942065,...,44747.7611562684,45680.5469412164,38885.5485894753,39931.2362644858,40632.2089824607,42904.8115883352,41328.6123929102,37207.2388711909,42072.3194231234,41992.7727779758

In [31]:
# How many disaster events per country?
_d['ISO'].value_counts()

ISO
CHN    1328
IND     792
USA     687
IDN     546
PHL     450
NGA     425
PAK     306
RUS     303
COD     294
BGD     266
IRN     259
MEX     252
BRA     247
PER     227
VNM     223
ZAF     212
AFG     206
TUR     203
COL     195
JPN     194
EGY     177
THA     171
KEN     169
ITA     153
UGA     151
TZA     145
FRA     138
AUS     137
NPL     136
HTI     124
SDN     123
ARG     114
GTM     109
MOZ     106
BOL     104
MYS     101
AGO     100
MAR      99
ETH      99
DZA      99
GRC      97
KOR      96
SOM      95
ECU      94
ESP      93
CAN      93
YEM      92
LKA      90
TWN      85
MDG      84
NER      84
DEU      83
ZWE      83
CMR      83
MMR      83
ROU      82
UKR      80
CHL      80
MWI      75
GIN      74
GBR      72
HND      71
LBY      71
DOM      69
BDI      68
MLI      68
ZMB      68
GHA      68
VEN      67
SEN      65
CAF      65
TJK      62
BFA      61
SAU      60
PNG      60
POL      59
SLV      57
CUB      56
NIC      51
PAN      50
RWA      49
TUN      49
BGR      48
IRQ      48
BEN      47
TCD      46
COG      45
BEL      45
PRY      45
CIV      44
KHM      44
NZL      43
CRI      42
PRK      42
PRT      42
MRT      41
SYR      40
CHE      40
SLE      36
HRV      35
CZE      35
KAZ      34
MNG      34
URY      33
HUN      33
BIH      33
SSD      32
LAO      32
SRB      32
NAM      31
FJI      31
AUT      31
KGZ      30
ALB      30
SVK      28
NLD      28
TGO      27
MKD      27
PRI      27
COM      27
VUT      26
GEO      26
GMB      25
GNB      23
HKG      23
SLB      22
LBR      22
JAM      21
BHS      20
GAB      20
DJI      20
LBN      19
OMN      18
AZE      17
JOR      17
GNQ      16
SWZ      16
SCG      16
LSO      15
ISR      15
IRL      15
TON      15
TLS      14
SVN      13
BWA      13
SPI      13
VCT      13
MDA      13
BLZ      13
LTU      12
NOR      12
CYP      11
ARM      11
CPV      11
LVA      11
PSE      11
LCA      11
BLR      10
DNK      10
ARE      10
MDV      10
SWE      10
FSM       9
UZB       9
MLT       9
MNE       9
MUS       8
BRB       8
GUY       8
WSM       8
REU       8
SYC       7
TCA       7
SUR       7
EST       7
MHL       7
CYM       7
BTN       7
LUX       6
GLP       6
TTO       6
ERI       5
QAT       5
MTQ       5
STP       5
DMA       5
TUV       5
GUM       5
PLW       5
BHR       5
MNP       5
KWT       4
SGP       4
KIR       4
ISL       4
ASM       4
COK       4
MAC       4
VIR       3
PYF       3
NCL       3
ATG       3
MYT       3
FIN       3
GRD       3
TKM       2
BMU       2
GUF       2
VGB       2
KNA       2
MAF       1
CUW       1
AIA       1
BLM       1
SXM       1
SHN       1
WLF       1
ANT       1
MSR       1
TKL       1
NIU       1
IMN       1
Name: count, dtype: int64